*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'verdana';
  font-color: orange;
}
a{
  text-decoration: none;
}


.header{
	width: 100vw;
	height: 80vh;
	max-width: 100%;
	background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.6)), url("../img/bg1.png");
	background-repeat: no-repeat;
	  background-position: center;
  background-size: cover;
}

header button{
  padding: 5px 10px 5px 10px;
  margin-right: 100px;
  margin-top: 40px;
  font-size: 20px;
}

button{
  padding: 20px;
  color: red;
  background-color: black;
  border-size: 20px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  font-weight: bold;
}

header{
	width: 100%;
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
}
.logo{
  margin-left: 20px;
  color: red;
  font-size: 50px;
  transition: all 0.3s ease 0s;
  font-family: 'Dancing Script', san-serif;
 }
.logo1{
  color: orange;
}
.logo:hover{
  transform: scale(1.5);
  transition: all 0.3s ease 0s;
}
a{
  text-decoration: none;
}
nav ul li{
  display: inline-block;
  padding: 30px;
  list-style: none;
   transition: all 0.3s ease 0s;
}
nav ul li a{
  font-size: 20px;
  font-weight: bold;
  color: red;
}
nav ul li:hover{
  border-radius: 20px;
  transform: scale(1.5);
  color: orange;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.title{
	top: 200px;
	left: 45%;
  font-size: 50px;
  position: absolute;
}
.title h1{
  color: red;
  font-family: 'Dancing Script', san-serif;
  
}
.left{
  animation-name: slideleft;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 1s;
}
.right{
  animation-name: slideright;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.large{
  margin-left: 60px;
  font-size: 100px;
  font-family: 'Dancing Script', san-serif;
}

@keyframes slideleft{
  from{
    transform: translateX(400px);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes slideright{
  from{
    transform: translateX(-400px);
  }
  to{
    transform: translateX(0);
  }
}
main{
  padding: 0;
  margin: 0;
}
.Welcome{
	
}
.homedes1{
  padding: 30px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: maroon;
  color: orange;
}

main h1{
	color: orange;
	display: flex;
	justify-content: center;
	
}
main p{
	padding: 100px;
	font-size: 20px;
	color: orange;
	display: flex;
	justify-content: center;
	
}
.profile img{
	border-radius: 20px;
	width: 500px;
	height: 500px;
	position: relative;
	left: 700px;
}

.crew img{
	position: relative;
	left: 400px;
	border-radius: 20px;
}

.class{
	margin-bottom: 200px;
	margin-top: 200px;
}

footer{
        padding: 20px;
        border: 0px;
        border-color: white;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        color: red;
        font-size: 10px;
}
hr{
	border-color: red;
}

@media (width: 1440px){
	.profile img{
		left: 500px;
	}
	.crew img{
		left: 200px;
	}
	.title{
	top: 100px;
	left: 40%;
	}
	
}
